@import url('assets/styles.css');

@media  only screen and (max-width: 767px) {

    body {
        background: var(--color-secondary);
    }
    .cabecalho__logo {
        visibility: hidden;
    }

    .cabecalho {
        background: var(--color-secondary);
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease;
        z-index: 100;
        top: 0;
    }

    .cabecalho__navegacao {
        font-size: 1.2em;
        width: 100%;
    }

    .tema {
        margin-right: 8%;
    }

    .custom-shape-divider-top-1716089508,
    .custom-shape-divider-top-1716089865 {
        display: none;
        margin: 0;
    }

    .apresentacao {
        width: 241%;
    }

    .apresentacao__conteudo {
        gap: 0em;
        width: 80%;
    }

    .apresentacao__conteudo__info {
        width: 100%;
    }

    .apresentacao__conteudo h1 {
        font-size: 2.75em;
        width: 100%;
    }

    .apresentacao__conteudo p {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 1.5em;
    }

    .apresentacao__conteudo__img {
        display: none;
        width: 14em;
        height: 10em;
        left: 0;
    }

    .apresentacao__social__links {
        justify-content: center;
        font-size: 1.4em;
    }
   

    .sobre {
        width: 241%;
        padding: 30% 0% 20% 0%;
    }

    
    .sobre__conteudo {
        flex-direction: column;
        gap: 2em;
    }

    .sobre__conteudo__container {
        width: 100%;
    }

    .sobre__descricao {
        width: 99%;
    }

    .sobre__conhecimentos {
        justify-content: center;
        width: 100%;
    }


    .skills, .hobbies {
        width: 241%;
        padding: 30% 0% 8% 0%;
    }

    .skills__cards__container, .hobbies__cards__container {
        width: 95%;
        gap: 1em;
    }

    .skills__card, .hobbies__card {
        gap: 1em;
        height: 9em;
    }

    .hobbies {
        padding-bottom: 20%;
    }

    .formacao {
        padding: 30% 0% 30% 0%;
        width: 241%;
        gap: 4em;
    }

    .formacao__cards__container {
        gap: 1em;
    }

    .projetos {
        width: 241%;
        gap: 2em;
        padding: 30% 0% 30% 0%;
    }

    .projetos__container {
        gap: 3em;
        grid-template-columns: repeat(1, 1fr);
    }

    .contato {
        width: 241%;
        padding: 30% 0% 20% 0%;
    }
    .contato__conteudo {
        flex-direction: column;
        justify-content: center;
        gap: 2em;
    }

    .contato__conteudo__descricao h2 {
        width: 150%;
    }

    .contato__conteudo__descricao p,
    .contato__conteudo__descricao img {
        display: none;
    }

    .botao__voltar {
        width: 241%;
    }
    .rodape {
        width: 241%;
    }

}

