@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('assets/responsive.css');

:root {

    --font-primary: "Raleway", sans-serif;
}

[data-theme="light"] {
    --color-primary: #EAF2FD;
    --color-secondary: #f5f5f5;
    --color-default-white: #ffffff;
    --color-default-black: #111;
    --color-text-primary: #464646;
    --color-text-secondary: #ffffff;
    --color-text-hover-btn: #0056b3;
    --color-text-btn: #ffffff;
    --color-bar-nav: rgba(245, 245, 245, 0.8);
    --color-gradient-nome: linear-gradient(to right top, #ff7eb3, #ff758c, #ff6f61, #ff6347, #ff4500);
    --color-gradient-btn: linear-gradient(to right top, rgba(5, 25, 55, 0.6), rgba(0, 77, 122, 0.6), rgba(0, 135, 147, 0.6), rgba(0, 191, 114, 0.6), rgba(168, 235, 18, 0.6));

}

[data-theme="light"] .fa-sun {
    display: none;
}

[data-theme="dark"] {
    --color-primary: #1a1a2e;
    --color-secondary: #2e2e3e;
    --color-default-white: #111;
    --color-default-black: #ffffff;
    --color-text-primary: #f5f5f5;
    --color-text-secondary: #eaf2fd;
    --color-text-hover-btn: #0056b3;
    --color-text-btn: #ffffff;
    --color-bar-nav: rgba(0, 0, 0, 0.8);
    --color-gradient-nome: linear-gradient(to right, #ffe600, #ffbb00, #ff8c00, #ff5c00, #ff0000);
    --color-gradient-btn: linear-gradient(to right, rgba(2, 0, 36, 0.6), rgba(72, 45, 209, 0.6));

}

[data-theme="dark"] .fa-moon {
    display: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    top: 0;
}

/* REDUÇÃO */
body,
header,
.cabecalho,
.sobre,
.skills,
.hobbies,
.formacao,
.projetos,
.contato,
.rodape,
.apresentacao {
    width: 100%;
    height: auto;
}

/* HEADER */
.cabecalho {
    background: var(--color-bar-nav);
    display: flex;
    justify-content: space-around;
    padding: 1.5em 0em;
    width: 100%;
    z-index: 100;
    top: 0;
    position: fixed;
}

.cabecalho__logo {
    display: flex;
    gap: 0.5em;
    font-weight: 600;
    font-size: 1em;
    background: var(--color-gradient-nome);
    -webkit-background-clip: text;
    color: transparent;
}

.cabecalho__logo.fixed {
    background: var(--color-gradient-nome);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 600;
}

.cabecalho.fixed {
    display: flex;
    position: fixed;
    background: rgba(14, 118, 168, 1);
    backdrop-filter: blue(10px);
    z-index: 2;
    top: 0;
}

.cabecalho.fixed a {
    color: var(--color-primary);
}

.cabecalho.fixed a:hover {
    color: var(--color-default-black);
    transform: scale(1.2);
    border-bottom: 1px var(--color-default-black) solid;
}


.cabecalho__navegacao {
    display: flex;
    gap: 2em;
    font-weight: 400;
    font-size: 1em;
    height: 2em;
}

.cabecalho__navegacao a {
    display: flex;
    align-items: center;
    height: 2em;
    color: var(--color-text-primary);
}

.cabecalho__navegacao a:hover {
    color: var(--color-text-primary);
    transform: scale(1.2);
    border-bottom: 1px var(--color-text-primary) solid;
}

.cabecalho__navegacao a:not(:hover) {
    transform: scale(1);
}

.cabecalho__navegacao__contato {
    font-weight: 600;
}

/* Toggle Theme */
.tema {
    display: flex;
    background: none;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
}

.fa-sun {
    color: #EEAD2D;
    font-size: 1.4em;
}

.fa-moon {
    color: #F2C438;
    font-size: 1.4em;
}

/* APRESENTAÇÃO */
.apresentacao {
    background: url(/assets/img/fundo1.jpg) no-repeat top / cover;
}

.apresentacao__container {
    background: var(--color-secondary);
    display: flex;
    justify-content: center;
    height: 100vh;
    background: rgba(0, 0, 0, 60%);
}

.apresentacao__container__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.3em;
}

.apresentacao__perfil__img {
    border-radius: 50%;
    width: 12em;
    height: 12em;
}

.apresentacao__container__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .6em;
}

.apresentacao__perfil__nome {
    font-size: 2em;
    font-weight: 600;
    padding: 1% 0%;
    background: var(--color-gradient-nome);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.apresentacao__perfil__descricao {
    font-size: 1em;
    color: #ffffff;
}

.apresentacao__perfil__social {
    display: flex;
    flex-direction: row;
    gap: 1.2em;
    font-size: 1.5em;
    color: #ffffff;
}

.fa-github:hover {
    color: #ccc;
}

.fa-instagram:hover {
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-linkedin-in:hover {
    color: #0E76A8;
}

.fa-file:hover {
    color: #F9B81F;
}

.apresentacao__contato {
    font-size: 1.5em;
    color: #ffffff;
    padding: 5% 10%;
    border-radius: 1.2em;
    border: 1px #ccc solid;
    font-weight: 500;
    transition: .4s ease;
}

.apresentacao__contato:hover {
    background: #1a1a2e;
}

/* WAVE TOP */
.custom-shape-divider-top-1716089508 {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1716089508 svg {
    position: relative;
    display: block;
    width: calc(100% + .1em);
    height: 3.9em;
}

.custom-shape-divider-top-1716089508 .shape-fill {
    fill: var(--color-secondary);
}

/* Wave BOT */
.custom-shape-divider-top-1716089865 {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1716089865 svg {
    position: relative;
    display: block;
    width: calc(100% + .1em);
    height: 3.8em;
}

.custom-shape-divider-top-1716089865 .shape-fill {
    fill: var(--color-primary);
}

/* Sobre mim  */
.sobre {
    background: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5% 0% 2% 0%;
    gap: 2em;
}

.sobre__titulo {
    font-weight: 600;
    font-size: 2em;
    color: var(--color-text-primary);
}

.sobre__conteudo {
    display: flex;
    width: 80%;
}

.sobre__conteudo__container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.sobre__perfil__img img {
    border-radius: 50%;
    width: 20em;
    height: 20em;
}

.sobre__descricao {
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.3;
    width: 70%;
    color: var(--color-text-primary);
}

.sobre__cards__container {
    display: flex;
    gap: 8em;
    margin-top: 4%;
}

.sobre__card {
    background-color: var(--color-default-white);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 6em;
    height: 6em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    transition: .4s ease-in;
}

.zoom-in:hover {
    transform: scale(1.2);
    transition: .4s ease-in;
}

.sobre__card i {
    font-size: 2em;
}

.fa-compass {
    color: #66B3FF;
}

/* .fa-handshake-angle {
    color: #66CC99 ;
} */


.fa-mobile-screen {
    color: #A9A9A9;
}

.fa-gauge {
    color: #00CCCC;
}

.fa-puzzle-piece {
    color: #FFCC99;
}

.fa-magnifying-glass {
    color: #A9A9A9;
}

.fa-palette {
    color: #99CC99;
}

.mensagem {
    position: absolute;
    top: calc(70%);
    left: 50%;
    font-size: .8em;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: .8em;
    border-radius: 1em;
    visibility: hidden;
}

.sobre__card:hover .mensagem {
    visibility: visible;/
}

/* Skills */
.skills {
    background: var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4.5% 0% 4% 0%;
    gap: 4em;
}

.skills__titulo {
    font-weight: 600;
    font-size: 2em;
    color: var(--color-text-primary);
}

.skills__cards__container {
    display: flex;
    flex-direction: row;
    gap: 4em;
}

.skills__card {
    width: 11em;
    height: 10.5em;
    background: var(--color-default-white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
    border-radius: .5em;
}

.skills__card i {
    font-size: 3em;
}

.fa-html5 {
    color: #F7621D;
}

.fa-css3-alt {
    color: #41B4E1;
}

.fa-bootstrap {
    color: #8017F9;
}

.fa-js {
    color: #F1DC55;
}

.fa-react {
    color: #66DCFB;
}

.fa-mobile-screen-button {
    color: var(--color-text-primary);
}

.skills__card__titulo {
    color: var(--color-text-primary);
    font-size: 1em;
    font-weight: 600;
}

/* Hobbies */
.hobbies {
    background: var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4.5% 0% 4% 0%;
    gap: 4em;
}

.hobbies__titulo {
    font-weight: 600;
    font-size: 2em;
    color: var(--color-text-primary);
}

.hobbies__cards__container {
    display: flex;
    flex-direction: row;
    gap: 4em;
}

.hobbies__card {
    width: 11em;
    height: 10.5em;
    background: var(--color-default-white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
    border-radius: .5em;
}

.hobbies__card i {
    font-size: 2.5em;
    color: #2a7ae4;
}

.hobbies__card__titulo {
    color: var(--color-text-primary);
    font-size: 1em;
    font-weight: 600;
}

/* Formação acadêmica */
.formacao {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4.5% 0% 4% 0%;
    gap: 4em;

}

.formacao__titulo {
    font-weight: 600;
    font-size: 2em;
    color: var(--color-text-primary);
}

.formacao__cards__container {
    display: flex;
    flex-direction: row;
    gap: 4em;
}

.formacao__card {
    width: 22.5em;
    height: 15em;
    background: var(--color-default-white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    border-radius: .5em;
}

.formacao__card i {
    font-size: 1em;
    color: var(--color-text-primary);
}

.formacao__card img {
    max-width: 8em;
}

.formacao__card__titulo {
    color: var(--color-text-primary);
    font-size: 1em;
    font-weight: 600;
}


.formacao__card__data {
    border-top: .5px rgba(128, 128, 128, 0.2) solid;
    width: 90%;
    height: 13%;
    display: flex;
    align-items: end;
    gap: .5em;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: var(--color-text-primary);
}

/* Projetos */
.projetos {
    background: var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
    padding: 4.5% 0%;
}

.projetos__titulo {
    font-weight: 600;
    font-size: 2em;
    color: var(--color-text-primary);
}

.projetos__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4em;
}

.projeto img {
    width: 100%;
    height: 100%;
}

.projeto {
    display: flex;
    flex-direction: column;
    gap: .5em;
    position: relative;
    width: 30em;
}

.projeto__descricao {
    align-self: left;
    opacity: 0;
}

.projeto__descricao__titulo {
    font-size: 1em;
}

.projeto__descricao__titulo {
    color: var(--color-text-primary);
}

.projeto__descricao__titulo span {
    font-weight: 600;
}

.botoes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.botoes__tecnologias {
    position: absolute;
    bottom: 0%;
    left: 0%;
    display: flex;
    gap: .5em;
    align-items: center;
    justify-content: center;
    align-self: center;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, .5);
    padding: .1em .2em;
    border-radius: 0em .2em 0em 0em;
    opacity: 0;
}

.projeto:hover .botoes__tecnologias,
.projeto:hover .botoes,
.projeto:hover .projeto__descricao {
    opacity: 1;
}


.botao-github,
.botao-demo {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-text-primary);
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
}

.botao-github:hover,
.botao-demo:hover {
    background-color: var(--color-text-hover-btn);
    color: var(--color-text-btn);
}

.zoom-img {
    transition: transform 0.5s;
    /* duração da transição */
    border-radius: 2%;
}

.zoom-img:hover {
    transform: scale(1.2);
    /* aumenta a escala em 20% */
    border-radius: 2%;
}

/* Contato */
.contato {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: var(--color-primary);
    padding: 4.5% 0% 4% 0%;
    gap: 4em;
}

.contato__titulo {
    font-weight: 600;
    font-size: 2em;
    color: var(--color-text-primary);
}

.contato__conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.contato__conteudo__descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    gap: 5em;
    color: var(--color-text-primary);
}

.contato__conteudo__descricao h2 {
    font-weight: 600;
    font-size: 1.5em;
    color: var(--color-text-primary);
}

.contato__conteudo__descricao p {
    width: 80%;
    line-height: 1.2;
    font-weight: 400;
    font-size: 1.2em;
    padding-bottom: 1.8em;
}

.contato__conteudo__descricao img {
    transition: .3s ease;
    max-height: 25em;
}

.contato__conteudo__descricao img:hover {
    opacity: .9;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 2em;
    width: 30em;
    border: 1px rgba(128, 128, 128, 1) solid;
    border-radius: 1em;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

input[type="text"],
input[type="email"],
textarea {
    width: 90%;
    max-width: 90%;
    max-height: 8em;
    padding: .5em;
    border: 1px solid #ccc;
    border-radius: .3em;
}

textarea {
    min-width: 90%;
}

label {
    display: flex;
    color: #a2a2a2;
    pointer-events: none;
    margin: 1% 0%;
}

button {
    padding: .8em 1em;
    background-color: #2a7ae4;
    width: 50%;
    place-self: center;
    color: var(--color-default-white);
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    color: var(--color-default-white);
    background-color: var(--color-text-primary);
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background: #0e76a8;
}

.rodape a:hover {
    color: var(--color-default-white);
}