@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-primary: #EAF2FD;
    --color-secondary: #f5f5f5;
    --color-default-white: #ffffff;
    --color-default-black: #111;

    --color-text-primary: #464646;
    --color-text-secondary: #ffffff;

    --font-primary: "Raleway", sans-serif;
}

body {
    font-family: var(--font-primary);
    width: 100%;
}

/* REDUÇÃO */
.sobre,
.apresentacao,
.skills,
.hobbies,
.formacao,
.projetos,
.contato,
.rodape {
    width: 100%;
    height: auto;
}

/* HEADER */
.cabecalho {
    background: var(--color-secondary);
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1.5em 0em;
    transition: background-color 0.3s ease;
    z-index: 2;
    top: 0;
}

.cabecalho__logo {
    display: flex;
    gap: 0.5em;
    font-weight: bold;
    font-size: 1em;
    color: var(--color-text-primary);
    transition: background-color 0.3s ease;
}

.cabecalho.fixed {
    position: fixed;
    background: #0e76a8;
    color: var(--color-text-secondary);
    z-index: 2;
    top: 0;
}

.cabecalho.fixed a:hover {
    color: var(--color-default-black);
    transform: scale(1.2);
    border-bottom: 1px var(--color-default-black) solid;
}

.cabecalho__logo.fixed {
    color: var(--color-text-secondary);
    gap: 0.5em;
}

.cabecalho__navegacao {
    display: flex;
    gap: 2em;
    font-weight: 400;
    font-size: 1em;
    height: 2em;
}

.cabecalho__navegacao a {
    display: flex;
    align-items: center;
    height: 2em;
}

.cabecalho__navegacao a:hover {
    color: var(--color-text-primary);
    transform: scale(1.2);
    border-bottom: 1px var(--color-text-primary) solid;
}

.cabecalho__navegacao a:not(:hover) {
    transform: scale(1);
}

.cabecalho__navegacao__contato {
    font-weight: 600;
}

/* APRESENTAÇÃO */
.apresentacao {
    background: var(--color-secondary);
    display: flex;
    justify-content: center;
    padding: 4% 0% 2% 0%;
}

.apresentacao__conteudo {
    display: flex;
    width: 80%;
    gap: 12em;
}

.apresentacao__conteudo h1 {
    width: 115%;
    font-weight: 600;
    font-size: 3.25em;
    padding-bottom: .5em;
    color: var(--color-text-primary);
    align-self: center;
}

.apresentacao__conteudo p {
    width: 115%;
    font-weight: 400;
    font-size: 1.2em;
    padding-bottom: 1.8em;
}

.apresentacao__social__links {
    display: flex;
    font-weight: 500;
    font-size: 1em;
    gap: 2em;
    padding-bottom: .8em;
}

.apresentacao__social__links a:hover {
    color: rgba(70, 70, 70, 0.5);
}

.apresentacao__conteudo__info {
    align-self: center;
}

.fa-github {
    color: var(--color-text-primary);
}

.fa-linkedin {
    color: #0e76a8;
}

.fa-square-instagram {
    color: #C13584;
}

.fa-file-arrow-down {
    color: #464646;
}

.apresentacao__conteudo__img {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: end;
    width: 60%;
    height: 90%;
}

.apresentacao__conteudo__img img {
    width: 65%;
}

/* Shape Wave */
.wave__container {
    height: 10vh;
    background-color: #f5f5f5;
    position: relative;
}

.wave__container::before {
    content: "";
    width: 100%;
    height: 4em;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 20vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 98L50 92C100 86 200 74 300 50C400 26 500 -10 600 2C700 14 800 74 900 98C1000 122 1100 110 1150 104L1200 98V134H1150C1100 134 1000 134 900 134C800 134 700 134 600 134C500 134 400 134 300 134C200 134 100 134 50 134H0V98Z' fill='%23eaf2fd'/></svg>");
}

.wave__container__reverse {
    height: 20vh;
    background-color: #eaf2fd;
    position: relative;
}

.wave__container__reverse::before {
    content: "";
    width: 100%;
    height: 4em;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 20vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 98L50 92C100 86 200 74 300 50C400 26 500 -10 600 2C700 14 800 74 900 98C1000 122 1100 110 1150 104L1200 98V134H1150C1100 134 1000 134 900 134C800 134 700 134 600 134C500 134 400 134 300 134C200 134 100 134 50 134H0V98Z' fill='%23f5f5f5'/></svg>");
}


@media(max-width:850px) {
    .wave__container::before {
        height: 65px
    }
}

@media(max-width:850px) {
    .wave__container__reverse::before {
        height: 65px
    }
}


/* Sobre mim  */
.sobre {
    background: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5% 0% 2% 0%;
    gap: 2em;
}

.sobre__titulo {
    font-weight: 600;
    font-size: 2em;
    color: var(--color-text-primary);
}

.sobre__conteudo {
    display: flex;
    width: 80%;
}

.sobre__conteudo__container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.sobre__perfil__img img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.sobre__descricao {
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.3;
    width: 70%;
    color: var(--color-text-primary);
}

.sobre__cards__container {
    display: flex;
    gap: 8em;
    margin-top: 4%;
}

.sobre__card {
    background-color: var(--color-default-white);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 6em;
    height: 6em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    transition: .4s ease-in;
}

.zoom-in:hover {
    transform: scale(1.2);
    transition: .4s ease-in;
}

.sobre__card i {
    font-size: 2em;
}

.fa-compass {
    color: #66B3FF ;
}

.fa-handshake-angle {
    color: #66CC99 ;
}


/* .fa-mobile-screen {
    color: #A9A9A9 ;
} */

.fa-gauge {
    color: #00CCCC ;
}

.fa-puzzle-piece {
    color: #FFCC99  ;
}

.fa-magnifying-glass {
    color: #A9A9A9 ;
}

.fa-palette {
    color: #99CC99  ;
}

.mensagem {
    position: absolute;
    top: calc(70%);
    left: 50%;
    font-size: .8em;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: .8em;
    border-radius: 1em;
    visibility: hidden;
}

.sobre__card:hover .mensagem {
    visibility: visible;/
}

/* Skills */
.skills {
    background: var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4.5% 0% 2% 0%;
    gap: 4em;
}

.skills__titulo {
    font-weight: 600;
    font-size: 2em;
    color: var(--color-text-primary);
}

.skills__cards__container {
    display: flex;
    flex-direction: row;
    gap: 4em;
}

.skills__card {
    width: 11em;
    height: 10.5em;
    background: var(--color-default-white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
    border-radius: .5em;
}

.skills__card i {
    font-size: 3em;
}

.fa-html5 {
    color: #F7621D;
}

.fa-css3-alt {
    color: #41B4E1;
}

.fa-bootstrap {
    color: #8017F9;
}

.fa-js {
    color: #F1DC55;
}

.fa-react {
    color: #66DCFB;
}

.fa-mobile-screen-button {
    color: var(--color-text-primary);
}

.skills__card__titulo {
    color: var(--color-text-primary);
    font-size: 1em;
    font-weight: 600;
}

/* Hobbies */
.hobbies {
    background: var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4.5% 0% 4% 0%;
    gap: 4em;
}

.hobbies__titulo {
    font-weight: 600;
    font-size: 2em;
    color: var(--color-text-primary);
}

.hobbies__cards__container {
    display: flex;
    flex-direction: row;
    gap: 4em;
}

.hobbies__card {
    width: 11em;
    height: 10.5em;
    background: var(--color-default-white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
    border-radius: .5em;
}

.hobbies__card i {
    font-size: 2.5em;
    color: #2a7ae4;
}

.hobbies__card__titulo {
    color: var(--color-text-primary);
    font-size: 1em;
    font-weight: 600;
}

/* Formação acadêmica */
.formacao {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4.5% 0% 4% 0%;
    gap: 4em;

}

.formacao__titulo {
    font-weight: 600;
    font-size: 2em;
    color: var(--color-text-primary);
}

.formacao__cards__container {
    display: flex;
    flex-direction: row;
    gap: 4em;
}

.formacao__card {
    width: 22.5em;
    height: 15em;
    background: var(--color-default-white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    border-radius: .5em;
}

.formacao__card i {
    font-size: 1em;
    color: var(--color-text-primary);
}

.formacao__card img {
    max-width: 8em;
}

.formacao__card__titulo {
    color: var(--color-text-primary);
    font-size: 1em;
    font-weight: 600;
}


.formacao__card__data {
    border-top: .5px rgba(128, 128, 128, 0.2) solid;
    width: 90%;
    height: 13%;
    display: flex;
    align-items: end;
    gap: .5em;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

/* Projetos */
.projetos {
    background: var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
    padding: 4.5% 0%;
}

.projetos__titulo {
    font-weight: 600;
    font-size: 2em;
    color: var(--color-text-primary);
}

.projetos__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4em;
}

.projeto img {
    width: 100%;
    height: 100%;
    border: 1px rgba(162, 162, 162, .5) dashed;
}

.projeto {
    display: flex;
    flex-direction: column;
    gap: .5em;
    position: relative;
    width: 30em;
}

.projeto__descricao {
    align-self: left;
}

.projeto__descricao__titulo {
    font-size: 1em;
}

.projeto__descricao__titulo span {
    font-weight: 600;
}

.botoes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.botoes__tecnologias {
    position: absolute;
    bottom: 0%;
    left: 0%;
    display: flex;
    gap: .5em;
    align-items: center;
    justify-content: center;
    align-self: center;
    font-size: 2em;
    background-color: rgba(0, 0, 0, .5);
    padding: .1em .2em;
    border-radius: 0em .2em 0em 0em;
}

.projeto:hover .botoes {
    opacity: 1;
}

.botao-github,
.botao-demo {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-text-primary);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
}

.botao-github:hover,
.botao-demo:hover {
    background-color: #0056b3;
}

.zoom-img {
    transition: transform 0.5s;
    /* duração da transição */
    border-radius: 2%;
}

.zoom-img:hover {
    transform: scale(1.2);
    /* aumenta a escala em 20% */
    border-radius: 2%;
}

/* Contato */
.contato {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    background: var(--color-primary);
    padding: 4.5% 0% 4% 0%;
    gap: 4em;
}

.contato__titulo {
    font-weight: 600;
    font-size: 2em;
    color: var(--color-text-primary);
}

.contato__conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.contato__conteudo__descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    gap: 5em;
}

.contato__conteudo__descricao h2 {
    font-weight: 600;
    font-size: 1.5em;
    color: var(--color-text-primary);
}

.contato__conteudo__descricao p {
    width: 80%;
    line-height: 1.2;
    font-weight: 400;
    font-size: 1.2em;
    padding-bottom: 1.8em;
}

.contato__conteudo__descricao img {
    transition: .3s ease;
    max-height: 25em;
}

.contato__conteudo__descricao img:hover {
    opacity: .9;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 2em;
    width: 30em;
    border: 1px rgba(128, 128, 128, 1) solid;
    border-radius: 1em;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

input[type="text"],
input[type="email"],
textarea {
    width: 90%;
    max-width: 90%;
    max-height: 8em;
    padding: .5em;
    border: 1px solid #ccc;
    border-radius: .3em;
}

textarea {
    min-width: 90%;
}

label {
    display: flex;
    color: #a2a2a2;
    pointer-events: none;
    margin: 1% 0%;
}

button {
    padding: .6em 1.2em;
    background-color: #2a7ae4;
    width: 40%;
    place-self: center;
    color: var(--color-default-white);
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    color: var(--color-default-white);
    background-color: var(--color-text-primary);
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background: #0e76a8;
}

.rodape a:hover {
    color: var(--color-default-white);
}